{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% for messages in app.flashes %}
        {% for message in messages %}
            <h2>{{ message }}</h2>
        {% endfor %}
    {% endfor %}
{% endblock %}
