<h2>Activation du compte</h2>
<p>Cliquer sur le lien ci-dessous pour activer votre compte</p>
<a href="https://127.0.0.1:8000/{{ path('app_register_activate', {'id': id} )}}">
    Activer votre compte
</a>
